<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <title><%= title %></title>
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/loginNav') %>
    <h1><a href="/" style="text-decoration: none; color: black">MEOW</a></h1>
    <br>
    <div class="wrap" id="left">
      <div id="card">
      <br>
      <h4>인기 게시글 랭킹</h4>
      <br />
      <% if (rank5.length == 0) { %>
        게시글이 존재하지 않습니다.
        <% } else { %>
      <% for (let i = 0; i < rank5.length; i++) { %>
        <% if (userid != rank5[i].user_id) { %>
        <article>#<%= i+1 %> <br /> 
          <div id="li">
          <img
            src="..<%=rank5[i].place_photo%>" style="width:150px; height:150px; object-fit: cover; border-radius: 10%;"
        />
        <div class="card-body">
          <p class="card-text">
            <br />
            <%=rank5[i].place_name%> <br /><br />
            <a
              href="/Otherboard/<%=rank5[i].post_num%>/"
              style="text-decoration: none; color: white"
              >구경하러가기</a
            >
          </p>
          <br /><br />
        </div></div></article>
        <% } else { %>
          <article>#<%= i+1 %><br /><div id="li"><img
              src="../..<%=rank5[i].place_photo%>"
              style="width:150px; height:150px; object-fit: cover; border-radius: 10%;"
          />
          <div class="card-body">
            <p class="card-text">
              <br />
              <%=rank5[i].place_name%> <br /><br />
              <a
                href="/Myboard/<%=rank5[i].post_num%>/"
                style="text-decoration: none; color: white"
                >구경하러가기</a
              >
            </p>
          </div>
        </div></article>
          <% } %><% } %>
          <% } %>
          <br>
          <p class="bottom">
            <br>
            <a href="/otherBoardList">모든 게시글 목록</a>
          </p>
        </div>
      </div>

    <div class="wrap" id="right">
      <h4>인기 프로필 랭킹</h4>
      <br /><br>
      <% for (let i = 0; i < rank3.length; i++) { %>
     
        <form action="/profile/<%= rank3[i].user_id%>" method="get" style="display: inline-block;">
          <input type="hidden" name="user_id" value="<%=rank3[i].user_id%>" />
          <input type="hidden" name="nickname" value="<%=rank3[i].nickname%>" />
      <div
        class="top_profile"
        style="padding: 10px; display: inline-block; border: 2px solid #92B4EC;border-radius: 10px;"
      >
        #<%= i+1 %><br /><br />
        <!--img 기본 경로가 public이라서 /images로 들어가야돼-->
        <img src="../images/user.png" width="100" height="100" /><br /><br />
        <b>닉네임:</b> <%= rank3[i].nickname %> <br />
        <b>이름:</b> <%= rank3[i].name %> <br />
        <b>나이:</b> <%= rank3[i].age %>대 <br />
        <b>직업:</b> <%= rank3[i].job %> <br />
        <input type="submit" id="button" value="프로필 보러가기" />
      </form>
      </div>
      <% } %>
    </div>

    
  </body>
</html>
